<h1 style= "color: #ffffff" >Blog Posts</h1>
<% @posts.each do |post| %>
<div class="post">
<h3><%= link_to post.title, post %></h3>
<div class="entry"><%= post.body %></div>
<div class="byline">
    <p class="meta"><%= post.created_at.strftime("%b %d. %Y") %></p>
    <p class="meta">&nbsp;Posted by <%= post.admin_user.name %></p>
    <p class="links"><%= link_to 'Read More', post %></p>
</div>
</div>
<% end %>