<div class="post">
<h1><%= @post.title %></h1>
<small><%= @post.created_at.strftime("%b %d. %Y") %></small>
<p>Created By : <%= @post.admin_user.name %><p>
<p><%= @post.body %></p>
<p>Category: <%= link_to @post.category.name, category_path(:id => 
@post.category.id) %></p>
<p><%= link_to "Back", posts_path %></p>


<hr />
<h3>Add A Comment</h3>
<%= form_for @comment do|f| %>

<%= f.hidden_field :post_id %>

<p>
	<%= f.label :name %><br />
	<%= f.text_field :name %>
</p>

<p>
	<%= f.label :email %><br />
	<%= f.text_field :email %>
</p>

<p>
	<%= f.label :body %><br />
	<%= f.text_area :body %>
</p>

<p>
	<%= f.submit "Post Comment" %>
</p>
<% end %>

<%= render :partial => 'partials/comment', :collection => @post.comments %>


</div>
